body{
    background-color: #ece9e6;
    max-height: fit-content;
    background: #ece9e6; 
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #ece9e6
      ); 
      background: linear-gradient(
        to right,
        #ffffff,
        #ece9e6
      );
}

.template-container{
      margin: 5% 0; 
 }
 .searchInput_Container{
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     margin-bottom: 5%;
 }
 
 .template-container > .search-input_Container input{
     width: 100%;
     padding: 10px;
     outline: none;
     
 }
 .template-container .template_Container{
     display: flex;
     flex-direction: column;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(50px, 280px));
     gap: 1.2rem;
     margin-left: 4%;
     max-width: 100%;
     max-height: 5% !important;
     box-shadow: black 2px;
 
 }
 .template-container .template_Container .template{
     background-color: white;
     margin: 30px;
     padding: 0px 20px;   
 } 
 
 #search-input{
     border-radius:  6px;
     width: 20%;
     margin-bottom: 40px;
 }
 
 .template{
  text-align: center;
  justify-content: center;
    color: #99582a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 .cards-div{
     justify-content: center !important;
     border-radius: 8px;
     max-height: 330px;
     box-shadow: 0.5px 0.5px 5px 0.5px  #cbcbcb;  
     background-color: white;
 }
 
 .image{
     max-width: 280px;
     max-height: 155px;
     min-height: 155px;
     min-width: 280px;
     position: relative;
     right: 50px;
     bottom: 22%;
     border-radius: 8px;
 }
 
 .img-div{
     height: 140px;
 }

 .archive-fotter{
    height: min-content;
    min-height: fit-content;
    background: hsla(0, 0%, 100%, 1);
    margin-top: 5%;
    margin-bottom: 0%;
    
background: linear-gradient(90deg, rgb(240, 239, 239) 0%, hsla(30, 95%, 46%, 1) 0%, hsla(30, 82%, 54%, 1) 0%, rgb(240, 239, 239) 100%);

background: -moz-linear-gradient(90deg, rgb(240, 239, 239) 0%, hsla(30, 95%, 46%, 1) 0%, hsla(30, 82%, 54%, 1) 0%, rgb(242, 241, 241) 100%);

background: -webkit-linear-gradient(90deg, rgb(240, 239, 239)0%, hsla(30, 95%, 46%, 1) 0%, hsla(30, 82%, 54%, 1) 0%, rgb(243, 239, 239) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#e77606", GradientType=1 );
justify-content: end !important;
}

.footer-buttom{
    padding-bottom: 10%;
    margin-bottom: 0%;
    font-family: "Dancing Script", cursive;
}

.footer-top{
    padding-top: 30%;
    font-family: "Dancing Script", cursive;
}

.Archive-title{
    margin-top: 100px;
    font-size: 2.3rem;
}

.Archive-title2{
    margin: 0%;
}

.file-btn{
    width: 80px;
    height: 30px;
    border-radius: 6px;
    background-color: #ab5f19;
    color: white;
    border-color: #ab5f19;
    position: relative ;
}

.file-btn:hover{
    opacity: 80%;
}

@media only screen and (max-width: 1600px) {
.template-container .template_Container{
margin-left:11%;
}
}
 @media only screen and (max-width: 1400px) {
.template-container .template_Container{
margin-left:4%;
}
}   
@media only screen and (max-width: 925px) {
.template-container .template_Container{
margin-left: 15%;
}
}
@media only screen and (max-width: 670px) {
.template-container .template_Container{
margin-left:13%;
}
}
@media only screen and (max-width: 500px) {
.template-container .template_Container{
margin-left:15%;
}
}
