body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 7px;
    color: white;
    background-color: rgba(20, 20, 255, 0.852);
    border-radius: 6px;
    margin-top: 0%;
    position: relative ; top: 60%;left: 90%;
}
    .close-modal:hover{
        background-color: rgb(79, 79, 249);
        
    }


.btn-modal{
    color: white;
    background-color: rgba(20, 20, 255, 0.852);
    border-radius: 6px;
    margin-top: 0%;
}
.btn-modal:hover{
    background-color: rgb(79, 79, 249);
}

#transition-modal-title{
    text-decoration: underline;
}

.popup{
    border-radius: 6px !important ; 
}