.calendar-container{
    width: 350px;
    border-radius: 8px !important;
    max-width: 350px;
    min-height: 400px !important;
}
.calendar{
    border-radius: 8px !important;
}
@media only screen and (max-width: 764px) {
.calendarcss{
    height: 10%;
    width: 0;
    margin-right: 70vw;
    margin-top: 5vh;
    
}
}
