body.active-modal {
    overflow-y: hidden;
}
*{
    color: #99582a;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background:#ffe6a7;
    padding: 14px 28px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 7px;
    color: #ffe6a7;
    background-color:  #6f1d1b;
    border-radius: 6px;
    margin-top: 0%;
    position: relative ; top: 60%;left: 90%;
}
    .close-modal:hover{
        background-color: #6f1d1b;
        
    }


.btn-modal{
    color:#ffe6a7;
    background-color:  #6f1d1b;
    border-radius: 6px;
    margin-top: 0%;
}
.btn-modal:hover{
    background-color: #6f1d1b;
}

#transition-modal-title{
    text-decoration: underline;
    text-align: center;
}

.popup{
    border-radius: 6px !important ; 
}

.paybtn{
    margin-left: 26vw !important;
     bottom: vh;
     background-color:  #854905 !important;
     color: white !important;
}

.date{
    justify-content: center !important;

}

#transition-modal-description{
    margin-left: 5vw;
}

@media only screen and (max-width: 764px) {
    .paybtn{
    margin-left: 1vw !important;
    bottom: vh;
    background-color:  #6f1d1b !important;
    color: white !important;
    }
}
@media only screen and (max-width: 1240px) {
    .paybtn{
    margin-left: 1vw !important;
    bottom: 1vh;
    background-color:  #6f1d1b !important;
    color: white !important;
    }
}