/* .formik{
    background-color: white;
}

.number{
    width: 80%;
}

.date1{
    width: 80%;
    margin-left: 8vw !important;
}
.date{
    width: 80%;
}

.card-number{
    width: 80%;
}

.select{
    width: 82.5%;
}

.subbtn{
    color: white;
    background-color: rgba(20, 20, 255, 0.852);
    border-radius: 6px;
    border-color:  rgba(20, 20, 255, 0.852);
    margin-left: 28%;
}

.subbtn:hover{
    background-color: rgb(79, 79, 249);
    
} */

